<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="idrServer" value="192.168.1.10" />
    <add key="idrPort" value="23" />
    <add key="idrPassword" value="setpasswordhere" />
    <add key="windowX" value="0" />
    <add key="windowY" value="200" />
    <add key="windowW" value="800" />
    <add key="windowH" value="200" />
    <add key="option1Name" value="Off-Air (Auto)"/>
    <add key="option1Cmd" value="SET PRESET 1" />
    <add key="option2Name" value="Studio FR1" />
    <add key="option2Cmd" value="SET PRESET 2" />
    <add key="option3Name" value="Studio FR2" />
    <add key="option3Cmd" value="SET PRESET 3" />
  </appSettings>
</configuration>	