<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="idrServer" value="164.11.155.96" />
    <add key="idrPort" value="23" />
    <add key="idrPassword" value="9xydDZg6Nc7v" />
    <add key="windowX" value="0" />
    <add key="windowY" value="200" />
    <add key="windowW" value="800" />
    <add key="windowH" value="200" />
    <add key="option1Name" value="Off-Air (Auto)"/>
    <add key="option1Cmd" value="SET PRESET 1" />
    <add key="option1Preset" value="1"/>
    <add key="option2Name" value="Studio FR1" />
    <add key="option2Cmd" value="SET PRESET 2" />
    <add key="option2Preset" value="2"/>
    <add key="option3Name" value="Studio FR2" />
    <add key="option3Cmd" value="SET PRESET 3" />
    <add key="option3Preset" value="3" />
  </appSettings>
</configuration>	